.news{
    // height: 400px;

    &__wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0px 0px 113px 0px;  
      }
    
    
    .text_verhu{
        margin-top: 5%;
        display: flex;

        h3{
            margin-left: 1%;
        }
        p{
            margin-left: 85%;
        }

    }

    .gridic{
        display: grid;
        grid-template-columns: 306px 306px 306px 306px ;
        grid-template-rows: 214px;
        gap: 20px;
        // grid-template-columns: 2fr 3fr;
        // grid-template-rows: 7fr fr 5fr;
        width: 50%;
        margin-bottom: 250px;

        .p1{
           
            background-repeat: no-repeat;
        }
        .p2{
            
            background-repeat: no-repeat;
        }
        .p3{
            
            background-repeat: no-repeat;
        }
        .p4{
            
            background-repeat: no-repeat;
        }
       
        .backk{
            // background-color: #3D348B;
            border-radius:15px;

            h3{
                // margin: 250px 20px;
                font-weight: 400;
                color:rgb(0, 0, 0);
                text-transform: uppercase;
                font-size: 13px;
            }
            h2{
                // margin-top:30%;
            }
            p{
                // margin: 40px 20px;
                font-weight: 500;
                color:rgb(0, 0, 0);
                font-size: 17px;
            }

            // .big_t{
            //     margin-top: 58%;
            // }
        }


       
    }

   
}





