header{
    background-color: #ffffff;
    @extend %display;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
   
  
    .logo1{
      @extend %display;
      margin-left: 120px;
      width: 200px;
      height: 50px !important;
      
  
    }  
  
    .line_header{
      display: none;
    }
  
    
    .navigation{
      margin-left: auto;
      margin-right: %;
      @extend %display;
  
      & p{
          margin: auto;
          font-size: 16px;
          font-weight: 400;
      }
  
      // & p:first-child{
      //     margin-left: -20%;
      // }
    }
  
    img{
      margin-right: 2%;
    }
  
    .icons1{
        margin-right: 160px;
    }


  }